{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "latest",
    "stage-0",
    "react"
  ],
  "plugins": ["syntax-async-functions", "transform-regenerator"]
}
